*{
    margin: 0;
    overflow:hidden;
}


html, body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: #363732;
}


div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 300px;
    width:800px;
    font-size: 40px;


    border: 3px solid black;
    border-radius:5px;

    background-color: #53D8FB;
}

input{
    height:40px;
    width:750px;

    margin-top:20px;

    font-size:20px;

    border: 2px solid black;
    border-radius:5px;

}

footer{
    position: absolute;
    bottom:0;

    color:white;
    font-size:25px;
    
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button{
    width:400px;
    height:60px;

    margin-top:25px;
    font-size:25px;
    font-weight: bold;

    border-radius: 5px;

}

button:hover{
    font-size:30px;
    color:RED;
}

#risultato{
    display: none;
    margin-top: 10px;
    font-size: 50px;
}

a{
    color:white;
}

#back{
    display: none;
}

::placeholder{ 
    color: red;
}

@media screen and (max-width: 700px) and (min-width:400px) {
    div{
        height: 150px;
        width:400px;
        font-size: 20px;
    
        border: 2px solid black;
        border-radius:2.5px;
    
    }

    input{
        height:20px;
        width:375px;
    
        margin-top:10px;
    
        font-size:10px;
    
        border: 1px solid black;
        border-radius:2.5px;
    
    }

    button{
        width:200px;
        height:30px;
    
        margin-top:12.5px;
        font-size:12.5px;
        border-radius: 2.5px;
    
    }

    button:hover{
        font-size:15px;
    }

    #risultato{
        margin-top: 5px;
        font-size: 25px;
    }
    
}

@media screen and (max-width:400px) {
    div{
        height: 100px;
        width:267px;
        font-size: 14px;
    
        border: 1.2px solid black;
        border-radius:0.8px;
    
    }

    input{
        height:14px;
        width:250px;
    
        margin-top:6.6px;
    
        font-size:6.6px;
    
        border: 0.66px solid black;
        border-radius:0.83px;
    
    }

    button{
        width:133px;
        height:20px;
    
        margin-top:8px;
        font-size:8px;
        border-radius: 0.83px;
    
    }

    button:hover{
        font-size:10px;
    }

    #risultato{
        margin-top: 3.3px;
        font-size: 17px;
    }
    
}

