*{
    margin: 0;
    overflow:hidden;
}


html, body{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #363732;
}


div{
    display: flex;
    height: 300px;
    width:800px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #53D8FB;
}

input{
    margin-top:20px;
    font-size:20px;
    height:40px;
    width:750px;

}

footer{
    position: absolute;
    bottom:0;

    color:white;
    font-size:25px;
    
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button{
    margin-top:25px;
    width:400px;
    height:60px;
    font-size:25px;
    font-weight: bold;

}

#risultato{
    display: none;
}